body {

  background-color: #202124;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle {

position: fixed;
padding-bottom: 6rem;
}

.image {
  margin-left: 9rem;
}
.btn {
  display:inline-block;
  position: relative;
  padding: 1.9rem;
  margin-left: 8.6rem;
}

.button {
  color: white;
  background-color:#303134;
  height: 40px;
  margin: 0px 5px;
  border: 0;
  border-radius: 4px;
}

.bar {
  padding-top: 1.7rem;
}


  .nav, a {
    position: relative;
    width: 95%;
    top: 0;
    left: 0;
    color: white;
    text-align: right;
    padding: 14px 10px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 45rem;
    font-size: 13px;
}
  .search {
    border: 1px solid grey;
    border-radius: 40px;
    height: 45px;
    width: 550px;
    padding: 1px 23px 0px 50px;
    outline: 0;
    background-color: transparent;
    color: white;
    align-content: center;
  }

  .search-icon {
    position: absolute;
    left: 20px;
    width: 14px;
    bottom: 212px;
    color: white;
    width: 15px;
  }

  .footer, p {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #171717;
    color: white;
    text-align: center;
  }